.git
.github
.tmp
**/.env
**/.env.*
!**/.env.example
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.coverage
**/coverage.xml
backend/data
backend/data_old
backend/mysqldir
backend/tests
backend/requirements-dev.txt
frontend/node_modules
frontend/dist
*.log
*.key
*.pem
*.crt
